pandas
numpy
jupyterlab
scikit-learn
matplotlib
pyro-ppl
seaborn
statsmodels
xarray
netCDF4
h5netcdf
dask
Pydap
python-dotenv
openpyxl
scipy
zipfile36
ngboost
catboost
properscoring
sktime
tabpfn
torchinfo